
# Database Config.
DEBUG_MODE="Debug Status"
DB_NAME="DataBase Name"
DB_HOST="Your DataBase Host"
DB_PASSWORD="Your Database Password"
DB_PORT="Your port to running DataBase"
DB_USER="Your User Name"
DB_DIALECT="Your Database Driver"
