
# Database Config.
DEBUG_MODE="Debug Status"
DB_NAME="DataBase Name"
DB_HOST="Your DataBase Host"
DB_PASSWORD="Your Database Password"
DB_PORT="Your port to running DataBase"
DB_USER="Your User Name"
DB_DIALECT="Your Database Driver"
SECRET_KEY="PALABRASECREATA"
GOOGLE_CLIENT_ID="configurar Google Client ID en https://console.cloud.google.com"
FRONTEND_URL="URL del frontend"
CORREO="correo del empresa"
CONTRASENIA_GMAIL_APLICACION="generar contraseña de aplicacion en gmail"